* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: rgba(0, 0, 0, 0.726);
}

h1 {
    color: #FFF;
    font-size: 64px;
    font-family: sans-serif;
    text-align: center;
    line-height: 100vh;
}

span {
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(50px);
    display: inline-block;
} 
span.fade {
    opacity: 1;
    transform: translateY(0px);
    color: rgb(228, 183, 218);
}